@font-face {
  font-family: "Roboto-Regular";
  src: url("css/fonts/Roboto-Regular.eot");
  src: url("css/fonts/Roboto-Regular.woff");
  src: url("css/fonts/Roboto-Regular.woff2");
  src: url("css/fonts/Roboto-Regular.svg");
}

html{
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
}

p{
  text-align: center;
}

.allignRight{
  text-align: right;
  padding-top: 10px;
}

.link{
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
  padding: 10px;
}


header{
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
}

.box{
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
  text-align: center;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 20vh;
  background-image: radial-gradient(yellow, blue);
}

.inBox{
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
}

.container{

}


.Image{
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botbox{
  background: cyan;
  display:flex;
  height: 100px;
  width: 100%;
}

.boxborder{
  position: relative;
  background: cyan;
  left: 45%;
  top: 25%;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  vertical-align: text-top;
}

.boxborder h3{
  line-height: 7px;
  text-align: center;
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
  font-size: 25px;
  vertical-align: text-top;
}

.boxborder:hover{
  transform:translate(-50%, -50%) scale(2);
}

.boxborder:active{
  background-color: black;
}

.blackbox{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: black;
}

.blackbox h4{
  text-align: left;
  font-family: 'Roboto-Regular','Arial', 'sans-serif';
  font-size: 12px;
  color: white;
}

.whitebox{
  background: white;
  width: 100%;
  height: 50px;
}
